*/.DS_Store
.DS_Store
.DS_Store
simple_exercises/.DS_Store
simple_exercises/lanesexercises/.DS_Store
.DS_Store
simple_exercises/.DS_Store
simple_exercises/.DS_Store
simple_exercises/lanesexercises/.DS_Store
simple_exercises/.DS_Store
.DS_Store
.DS_Store
.DS_Store
simple_exercises/lanesexercises/.DS_Store
simple_exercises/lanesexercises/py_if_and_files/16-18_input_string_complement.py
.DS_Store
simple_exercises/lanesexercises/.DS_Store
exercises/.vscode/.ropeproject/config.py
exercises/.vscode/.ropeproject/objectdb
exercises/BLOSUM/__pycache__/matrices.cpython-36.pyc
exercises/BLOSUM/__pycache__/input_scoringmatrix.cpython-36.pyc
simple_exercises/.DS_Store
simple_exercises/lanesexercises/.DS_Store
exercises/BLOSUM/__pycache__/matrices.cpython-36.pyc
simple_exercises/.DS_Store
simple_exercises/lanesexercises/.DS_Store
simple_exercises/lanesexercises/.DS_Store
simple_exercises/.DS_Store
